/HacknSlash/[Tt]emp/
/HacknSlash/[Oo]bj/
/HacknSlash/[Bb]uild
/HacknSlash/[Ll]ibrary/
/HacknSlash/sysinfo.txt

[Ee]xported[Oo]bj/
/HacknSlash/*.userprefs
/HacknSlash/*.csproj
/HacknSlash/*.pidb
/HacknSlash/*.suo
/HacknSlash/*.sln*
/HacknSlash/*.user
/HacknSlash/*.unityproj
/HacknSlash/*.booproj

.DS_Store*
._*
.Trashes